# Fundamentals of Python

In [1]:
#Installation Process Steps:

In [ ]:
WWW.anaconda.com
www.github.com

In [ ]:
WWW.anaconda.com---->Get Started--->Download anaconda installer-->Windows (Python 3.8 version)
64 bit graphical installer--->click on Next....next...next...>install in your system----> you can see anaconda navigator
Open it--->takes few mins while launching 1st time--->click on launch for Jupyter notebook

In [ ]:
Execution: Shift + Enter
How to save the file?
Go to file-->Download as--->choose .ipynb notebbok

In [ ]:
www.github.com:
Sign up on github.com-->Username----Email Address----Password
Create a new repository---click on add a read me file----click on creating repository

How to add files?
click on Add file---then click on upload file--chose from downloads---finally click on commit changes

# Introduction to Variables in Python:

In [2]:
x=5
y=3
x+y

8

In [ ]:
# Rules for declaring variables in Python

In [ ]:
#Rule no 1: No name spaces while declaring the variable names in python

In [3]:
first name="Naveen"
print(first name)

SyntaxError: invalid syntax (<ipython-input-3-ef5c264074b7>, line 1)

In [5]:
first_name="Naveen"
print(first_name)

Naveen

In [ ]:
#Rule No:02. Variable names shouldn't start with a number

In [6]:
1name="KOlar"
Print(1name)

SyntaxError: invalid syntax (<ipython-input-6-815ffab2842f>, line 1)

In [7]:
name1="Kolar"
print(name1)

Kolar

In [ ]:
#Rule No-03: Variable name shouldnot contain any special characters: @, #, $, %, &, -----etc

In [8]:
name@="Faiyaz"
print(name@)

SyntaxError: invalid syntax (<ipython-input-8-641c034560fc>, line 2)

In [ ]:
# Introduction to data types in Python:
1. String
2. Numbers ---->Integers and Floats (decimals)
3. List
4. Tuple
5. Dictionary

# Classification of data types:
# 2 types 
A. Mutable datatype: we can alter or edit once it has been declared
B. Immutable datatype: We are not able to alter ot edit the data type.

# Python is a Case sensitive language
# to comment anything in python we use # symobol

# Introduction to String data type

In [ ]:
#Definition: A string is nothing but series of characters enclosed in quotes.
#Classification: String is immutable data type.
# How do you define a String: --- Through Single quote, double quote or tripple quote.

#In general we us either single quote or double quote.

In [12]:
Name1='Naveen'
print(Name1)
name2="Naveen"
print(name2)
name3="""Naveen"""
print(name3)

Naveen
Naveen
Naveen

In [ ]:
# How to confirm and validate a data type: ------> by using type method

In [13]:
type(name2) # type methos helps in identifying the data type

str

# DAY-03 : INTRODUCTION TO STRING: STRING METHODS

In [ ]:
# type method: to know a particular data type we use type methos

In [14]:
type(Name1)

str

In [ ]:
# title method: It converts 1st letter of a word to capital letter

In [17]:
name="naveen kumar k b"
print(name)
print(name.title())

naveen kumar k b
Naveen Kumar K B

In [ ]:
#upper: to get the word in capital letter
#lower: to get the word in small letter

In [18]:
name="KarnAtakA"
print(name)
print(name.title())
print(name.upper())
print(name.lower())

KarnAtakA
Karnataka
KARNATAKA
karnataka

In [ ]:
# Introduction to f strings in python: this is used for concatenation
# General syntax of f string:
f "cutom word {placeholder1} {placeholder2}-------{placeholder---n}"

In [21]:
fname="naveen"
lname="kumar"
#Reqt: I want to get the full name
full_name= f"{fname} {lname}"
print(full_name)
#reqt: I want to get the names in a proper way
print(full_name.title())

naveen kumar
Naveen Kumar

In [23]:
x=f"Keep up the good Work, {full_name.title()}"
print(x)

Keep up the good Work, Naveen Kumar

In [ ]:
# Adding white spaces to strings:
# Reqt: I have conducted a survey in a college among the students to choose thier favourite programming language

In [24]:
print("Favourite langiage: Python C Jaava C++ Swift")  #the output is looking clumsy

Favourite langiage: Python C Jaava C++ Swift

In [25]:
print("Favourite language:\nPython \nC \nJaava \nC++ \nSwift") # \n ---->New lne delimiter

Favourite language:
Python
C
Jaava
C++
Swift

In [ ]:
# if we add \t----used a tab delimeiter

In [26]:
print("Favourite language:\n\tPython \n\tC \n\tJaava \n\tC++ \n\tSwift")

Favourite language:
	Python
	C
	Jaava
	C++
	Swift

In [ ]:
# Removing white spaces or additional extra spaces from the string

In [27]:
favlang="python"
print(favlang)

python

In [30]:
favlang1="  python"
print(favlang1)
favlang2="python   "
print(favlang2)
favlang3="      python  "
print(favlang3)

  python
python
      python

In [ ]:
#Reqt:I want to remove the extra space occupied by the strings as it takes additional space and its more cost oriented:
lstrip:removes addiitonal space present in the left side only
rstrip:eliminates extra space present in the right side only
strip: removes an addiitonal space present in both sides. strip starts searching for additonal space on either side and removes the same.
incase if we actually know which space to delete then we can use the effective method.

In [31]:
favlang1.lstrip()
favlang2.rstrip()
favlang3.strip()

'python'

# Day-04: INTRODUCTION TO LIST DATA TYPE

In [ ]:
# Definition:
    A list is a collection of items in a particular order.
# Classification:
    Its a Mutable data type
# How do you define a List ? ------- > Using Square bracket []

In [1]:
students=['ayush','chandra','naga','gagan','sidhant','subhash']
print(students)
# to know the data type we will use type method
type(students)

['ayush', 'chandra', 'naga', 'gagan', 'sidhant', 'subhash']

list

In [ ]:
# How to access elements from the above list.
#Req: I want to access ayush name from the above list
# Introduction to indexing
Indexing starts from 0,1,2,3,......... and negative indexing starts from -1,-2,-3,......so on

In [2]:
#indexing ayush from students:
students[0]

'ayush'

In [4]:
print(students[0].title())

Ayush

In [5]:
print(students[3].title())

Gagan

In [ ]:
# REQUIREMENTS:
1. How to add a new element to the list ------ # append method and insert method
2. How to modify the elements in  the list----
3. How to delete the elements from the list----- del function

In [ ]:
# 1. I want to add Naveen to the above listed group

In [6]:
students.append("naveen") # append always adds the elements to the last position of the list.
print(students)

['ayush', 'chandra', 'naga', 'gagan', 'sidhant', 'subhash', 'naveen']

In [7]:
#Req: How can I add an elemnent to the desired position?--------> insert method
students.insert(2,"KUMAR")
print(students)

['ayush', 'chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'naveen']

In [ ]:
#INTERVIEW Question: What is the difference between append and insert method?
# ANS: append adds an element to the last position of the list where as insert method adds an elemnt to the derired position of the list.

In [12]:
print(students[0:]) # gives all names of list in a proper order

['ayush', 'chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'naveen']

In [20]:
print(students[0:].title())

AttributeError: 'list' object has no attribute 'title'

In [21]:
print(students[0:])

['ayush', 'chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'naveen']

In [24]:
print(students [0:4].title())   # Why is this syntax not working?

AttributeError: 'list' object has no attribute 'title'

In [25]:
students[1].title()

'Chandra'

In [ ]:
# Req: How to modify the elemnts of a list

In [26]:
print(students)

['ayush', 'chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'naveen']

In [27]:
len(students)

8

In [28]:
students[7]

'naveen'

In [29]:
students[7]='Faiyaz'
print(students)

['ayush', 'chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'Faiyaz']

In [ ]:
#Reqt: How to delete an elemnt from the list:   -----> del method

In [30]:
# I want to delete ayush from the above list
print(students)

['ayush', 'chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'Faiyaz']

In [31]:
del students[0]
print(students)

['chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'Faiyaz']

# Organising the list data type

In [33]:
cars=['bmw','audi','benz','chevrolet','kia']
print(cars)
type(cars)

['bmw', 'audi', 'benz', 'chevrolet', 'kia']

list

In [ ]:
# Req: how to know the count of elemnts in a list? ----> length method is used

In [34]:
len(cars)

5

In [ ]:
# I want ot arrange the above list of elements in alphabetical order:
2 approaches:
    1. sorted: changes applied here are temporary
    2. sort: changes applied here are permanent.

In [35]:
print(sorted(cars)) # this is temporary

['audi', 'benz', 'bmw', 'chevrolet', 'kia']

In [40]:
# let me check the original order:
print(cars) # ----> so the changes are not hapenned on original list

['audi', 'benz', 'bmw', 'chevrolet', 'kia']

In [41]:
#lets use 2nd approach:
cars.sort() # permamnet changes
print(cars)

['audi', 'benz', 'bmw', 'chevrolet', 'kia']

In [ ]:
# Int Quest: what is the difference between sorted and Sort?

Ans: Sorted orders the elemnts of data on temporary basis where as sort orders the elements of a list permanently:

In [42]:
# Reqt: How to print the list in a reverse order: reverse method will be used:
print(cars)
cars.reverse()
print(cars)

['audi', 'benz', 'bmw', 'chevrolet', 'kia']
['kia', 'chevrolet', 'bmw', 'benz', 'audi']

In [ ]:
# INTRODUCTION OF SLICING OF LISTS:

In [43]:
print(students)

['chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'Faiyaz']

In [ ]:
#req: I want to slice the list in to 2 elemnts of each:
# General syntax of slicing:
# variable[start value:stop value: step count]
The last value is always an exclusive it wont be considered. It always take +1 count
the concept used here is indexing.

In [44]:
#req: I want to have chandra and kumar in the slice:
print(students[0:2])

['chandra', 'KUMAR']

In [45]:
print(students[3:7])

['gagan', 'sidhant', 'subhash', 'Faiyaz']

In [47]:
# Reqt: I want every alternate elemnt of a list: here we use step count
print(students[0:8:2])

['chandra', 'naga', 'sidhant', 'Faiyaz']

In [ ]:
# Step count will be an important concept for interviews:

In [48]:
# INTRODUCTION TO NEGATIVE INDEXING: negative indexing stats from -1, -2, -3, -4,-------so on
print(students)

['chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'Faiyaz']

In [52]:
# I want to take last elemnt of above list:
len(students)
print(students[6])
print(students[-1])

Faiyaz
Faiyaz

# DAY:07: INTRODUCTION TO FOR LOOPS:

In [53]:
print(students)

['chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'Faiyaz']

In [ ]:
#Reqt:01 I want to appreciate the above students

In [62]:
print(f"Keep up the good work,{students[0]}")

Keep up the good work,chandra

In [57]:
print(students)

['chandra', 'KUMAR', 'naga', 'gagan', 'sidhant', 'subhash', 'Faiyaz']

In [63]:
print(f"Keep up the good work,{students[0].title()}")

Keep up the good work,Chandra

In [ ]:
# If I want to appreciate this for all students then I have to optimize it. for this we will use for loops.

In [ ]:
# General syntx of for loop:
for tempvar in mainvar:
    print(tempvar)   # the gap toward left is called indentation.

In [64]:
for x in students:
    print(f"Keep up the good work,{x.title()}")

Keep up the good work,Chandra
Keep up the good work,Kumar
Keep up the good work,Naga
Keep up the good work,Gagan
Keep up the good work,Sidhant
Keep up the good work,Subhash
Keep up the good work,Faiyaz

In [65]:
for ironman in students:
    print(f"Keep up the good work,{ironman.title()}")

Keep up the good work,Chandra
Keep up the good work,Kumar
Keep up the good work,Naga
Keep up the good work,Gagan
Keep up the good work,Sidhant
Keep up the good work,Subhash
Keep up the good work,Faiyaz

In [66]:
for x in students:
    print(f"Keep up the good work,{x.title()}")  # the output looks very clumsy
    print(f"Looking forward to receive the github urls for the day,{x.title()}")

Keep up the good work,Chandra
Looking forward to receive the github urls for the day,Chandra
Keep up the good work,Kumar
Looking forward to receive the github urls for the day,Kumar
Keep up the good work,Naga
Looking forward to receive the github urls for the day,Naga
Keep up the good work,Gagan
Looking forward to receive the github urls for the day,Gagan
Keep up the good work,Sidhant
Looking forward to receive the github urls for the day,Sidhant
Keep up the good work,Subhash
Looking forward to receive the github urls for the day,Subhash
Keep up the good work,Faiyaz
Looking forward to receive the github urls for the day,Faiyaz

In [ ]:
# The above output is very clumsy and hence we have to standardize the same by adding a new line : \n --- new line delimiter:

In [68]:
for x in students:
    print(f"Keep up the good work,{x.title()}")  # the output looks very clumsy #this is writting in loop
    print(f"Looking forward to receive the github urls for the day,{x.title()}.\n") # this is writting in loop
    
print("Thank you all for showing an interest in learning Python") #writting out of the loop

Keep up the good work,Chandra
Looking forward to receive the github urls for the day,Chandra.

Keep up the good work,Kumar
Looking forward to receive the github urls for the day,Kumar.

Keep up the good work,Naga
Looking forward to receive the github urls for the day,Naga.

Keep up the good work,Gagan
Looking forward to receive the github urls for the day,Gagan.

Keep up the good work,Sidhant
Looking forward to receive the github urls for the day,Sidhant.

Keep up the good work,Subhash
Looking forward to receive the github urls for the day,Subhash.

Keep up the good work,Faiyaz
Looking forward to receive the github urls for the day,Faiyaz.

Thank you all for showing an interest in learning Python